{% extends "layout.html" %}
{% block content %}
    <h1>About page</h1>
    <div class="about-div">
        <br>
        <body class="about-body">
        This is the technical portion of the application for Summer 2021 backend developer internship position at Shopify! The web-based application allows for users to share their photos with other users and also maintain a private repository for their own access. Users are able to organize their photos in their private repositories by selecting tags, upload multiple images at once and even create a customizable profile!
        </body>
    </div>

{% endblock content %}